/* цвет основного текста  #757575 */
/* цвет вторичного текста #212121; */
/* цвет акцента #2196F3 */
/* цвет белый #FFFFFF */
/* цвет фона вторичный #F5F4FA;*/
/* цвет ссылок в футере rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-text-color: #2196f3;
  --withe-text-color: #ffffff;
  --black-text-color: #000000;

  --link-footer-color: rgba(255, 255, 255, 0.6);

  --main-page-color: #ffffff;
  --secondary-page-color: #f5f4fa;
  --footer-color: #2f303a;
}

.list {
  list-style: none;
}

body {
  border-color: var(--main-page-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
}

/* Footer */

/* Site logo */
.logo {
  color: var(--black-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* .logo:hover,
.logo:focus {
  color: var(--acent-text-color);
} */

.logo span {
  color: var(--acent-text-color);
}
/* Footer-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-text-color);
}

.site-nav .link.current {
  color: var(--acent-text-color);
}
/* Footer-Contact */
.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--acent-text-color);
}

/* Main content */
/* Hero */

.hero-title {
  color: var(--withe-text-color);
  background-color: var(--footer-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
}

/* Section */
.section-title {
  color: var(--title-text-color);
}
/* Features */
.features .title {
  color: var(--title-text-color);
}
/* Team */
.team-list .title {
  color: var(--title-text-color);
}

/* Footer */
.page-footer {
  background-color: var(--footer-color);
}

.logo-footer {
  color: var(--withe-text-color);
}

.logo-footer span {
  color: var(--acent-text-color);
}

.adds-list a {
  color: var(--link-footer-color);
}

.adds-list a[href="https://goo.gl/maps/W5uvphnCs49Fz31s8"]
{
  color: var(--withe-text-color);
}
/* Button! */
.button {
  color: var(--black-text-color);
  background: var(--withe-text-color);
}

.button.primary {
  color: var(--withe-text-color);
  background-color: var(--acent-text-color);
}

/* Button Project.html */
.button.content {
  color: var(--title-text-color);
  background-color: var(--secondary-page-color);
}
.button.content:hover,
.button.content:focus {
  color: var(--withe-text-color);
  background-color: var(--acent-text-color);
}

/* Portfolio.html */
/* Main content */
.project-list h3 {
  color: var(--title-text-color);
}
.project-list p {
  color: var(--primary-text-color);
}
